
.sm-navbar-top {
    background-color: #f0f0f0;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
.sm-navbar-top .acc-sign a {
    color: #404040;
    padding: .5rem 0;
    display: inline-block;
    margin-left: 3rem;
}

body {
    font-family: Alexandria;
    font-size: 16px;
    color: #262626;
    background-color: #ffffff;
}
a {
    color: #fcb544;
    text-decoration: none;
    transition: .25s ease-in-out;
}
/* Banner */
.top-banner {
    text-align: center;
    padding: .75rem;
    background-color: #fcb544;
    color: #0d0d0d;
}
